# Database changes - Requires review for db design/architecture
/db @garyhtou

# Package management - Requires review for dependency security
/Gemfile @garyhtou
/package.json @garyhtou

# Critical configs - Requires review from Gary
/.ruby-version @garyhtou
/LICENSE @garyhtou
/config.ru @garyhtou
/config/application.rb @garyhtou
/config/boot.rb @garyhtou
/config/brakeman.ignore @garyhtou
/config/database.yml @garyhtou
/config/environment.rb @garyhtou
/config/environments @garyhtou
/config/initializers @garyhtou
/config/storage.yml @garyhtou
