.breadcrumb {
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    content: ' »';
  }
  + h1,
  + h2 {
    margin-top: 0;
  }
}

.heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .btn {
    margin-left: auto;

    ~ .btn,
    ~ .pop {
      margin-left: unset;
    }
  }
}

h2.heading,
h3.heading {
  .btn {
    @extend .btn-small;
  }
}

.eyebrow {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  opacity: 0.8;
}
